@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
}

@media screen and (max-width: 420px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: auto;
  max-width: 100%;

  font-optical-sizing: auto;

  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
}

/* to hide visiblity of scroll bar  */
::-webkit-scrollbar {
  width: 0;
}
